<div class="login-panel">
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">

        <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
          <p-panel header="{{'forgot-password-msg' | translate}}">
            <form [formGroup]="forgotForm" (submit)="send()">
              <div class="p-col-12">
                <p-messages [(value)]="msgs"></p-messages>
              </div>
              <div class="p-grid p-justify-center p-align-center">
                <div *ngIf="submitted && f.email.errors" class="p-col-12 invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ 'required-email-msg' | translate}}</div>
                </div>

                <div class="p-col-12">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="fa fa-paper-plane"></i></span>
                    <input type="text" formControlName="email" size="30"  pInputText [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    placeholder="Email" autocomplete="email"/>
                  </div>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col-12">
                  <button pButton [disabled]="loading"  label="{{ 'send-email-msg' | translate}}" class="ui-button-raised"></button>
                </div>
                <div class="p-col-12 p-text-right">
                  <a [routerLink]="['/']">{{ 'back-login-page-msg' | translate}}</a>
                </div>
              </div>
          </form>
          </p-panel>
        </div>
    </div>
</div>


