<div class="login-panel">
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">

        <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
          <p-panel header="{{'forgot-password-msg' | translate}}">
            <form [formGroup]="forgotForm" (submit)="send()">
              <div class="p-col-12">
                <p-messages [(value)]="msgs"></p-messages>
              </div>
              <div class="p-col-12">
                <app-input icon="fa-paper-plane" [control]="f.email"  [label]="'email' | translate"
                           [submitted]="submitted"> </app-input>
              </div>
              <div class="p-col-12">
                <button pButton [disabled]="loading" label="{{ 'send-email-msg' | translate}}"
                        class="ui-button-raised"></button>
              </div>
              <div class="p-col-12 p-text-right">
                <a [routerLink]="['/']">{{ 'back-login-page-msg' | translate}}</a>
              </div>
          </form>
          </p-panel>
        </div>
    </div>
</div>


