<app-header-breadcrumb></app-header-breadcrumb>
<p-panel header="Invoices List">
    <div class="ui-g">
        <div class="ui-g-10 ui-sm-8"><label style="float:right;">Page Size:</label></div>
        <div class="ui-g-2 ui-sm-4"><input type="text" pInputText [(ngModel)]="pageSize"></div>
    </div>
    <p-table [value]="invoices" [paginator]="true" [rows]="pageSize">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date</th>
                <th>Grand Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td><a (click)="goToInvoiceLines(invoice.id)">{{invoice.documentNo}}</a></td>
                <td>{{invoice.description}}</td>
                <td>{{invoice.docStatus | docStatus}}</td>
                <td>{{invoice.date | date: 'MM/dd/yyyy'}}</td>
                <td>{{invoice.grandTotal | currency:'USD'}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
