<app-header-breadcrumb></app-header-breadcrumb>
<p-panel [header]="'invoices-list' | translate">
    <p-table selectionMode="single" [value]="invoices" [paginator]="true" [rows]="env.pageSize" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">#<p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="description" class="ui-table-hide-sm">{{ 'description' | translate }}<p-sortIcon field="description"></p-sortIcon></th>
              <th pSortableColumn="docStatus">{{ 'status' | translate }}<p-sortIcon field="docStatus"></p-sortIcon></th>
              <th pSortableColumn="date">{{ 'date' | translate }}<p-sortIcon field="date"></p-sortIcon></th>
              <th pSortableColumn="grandTotal">{{ 'grand-total' | translate }}<p-sortIcon field="grandTotal"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td><a (click)="goToInvoiceLines(invoice.id)">{{ invoice.documentNo }}</a></td>
                <td class="ui-table-hide-sm">{{ invoice.description }}</td>
                <td>{{ invoice.docStatus | docStatus }}</td>
                <td>{{ invoice.date | date: env.dateFormat }}</td>
                <td>{{ invoice.grandTotal | currency: env.currencyISO }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
