<p-panel [header]="'theme-chooser' | translate" class="m-2">

  <p-fieldset legend="Preconfigured Templates" class="m-2">
    <div class="grid grid-nogutter flex justify-content-center flex-wrap card-container m-2" style="height:100%">
      <div class="col-2 md:col-1 lg:col-1" *ngFor="let theme of themes">
        <button pButton type="button" (click)="selectTheme(theme)" [style]="'background-color:' + theme.headerBgColor"></button>
      </div>
    </div>
  </p-fieldset>

  <p-fieldset legend="General" class="m-2">
    <div class="grid">
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_main_background' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.mainBackground" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_button_background' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.primaryColor" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_button_text' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.primaryColorText" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'font-text' | translate }}</label>
        <p-dropdown [options]="fonts" [(ngModel)]="theme.fontFamily" (onChange)="updateTheme()"></p-dropdown>
      </div>
    </div>
  </p-fieldset>

  <p-fieldset legend="Header">
    <div class="grid">
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_header_bg1' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.headerBgColor" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_header_bg2' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.headerBgColor2" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_header_color' | translate }}</label>
        <p-colorPicker class="p-col" [(ngModel)]="theme.headerColor" (onChange)="updateTheme()"></p-colorPicker>
      </div>
    </div>
  </p-fieldset>
  <p-fieldset legend="Sidebar" class="m-2">
    <div class="grid">
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_menu_background' | translate }}</label>
        <p-colorPicker class="p-col" [(ngModel)]="theme.menubarBackground" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_menubar' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.menubarColor" (onChange)="updateTheme()"></p-colorPicker>
      </div>
      <div class="lg:col-4 md:col-12 sm:col-12">
        <label class="mr-2">{{ 'color_active_menu' | translate }}</label>
        <p-colorPicker [(ngModel)]="theme.activeMenuColor" (onChange)="updateTheme()"></p-colorPicker>
      </div>
    </div>
  </p-fieldset>
</p-panel>
