<div class="login-panel">
    <div class="grid grid-nogutter justify-content-center align-items-center" style="height:100%">

        <div class="xl:col-3 lg:col-6 md:col-8 sm:col-10">
            <p-panel header="{{'forgot-password-msg' | translate}}">
                <div class="grid justify-content-center align-items-center">
                    <form [formGroup]="forgotForm" (submit)="update()">
                        <div class="col-12">
                            <p-messages [(value)]="msgs"></p-messages>
                        </div>
                        <div class="col-12">
                            <app-password [control]="f.newPassword" [feedback]="true" toggleMask="true"
                                          [label]="'password' | translate" [submitted]="submitted"></app-password>
                        </div>
                        <div class="col-12">
                            <app-password [control]="f.confirmPassword" toggleMask="true"
                                          [label]="'confirm-password' | translate"
                                          [submitted]="submitted"></app-password>
                        </div>
                        <div class="col-12 right">
                            <button pButton [disabled]="loading" label="{{ 'change-password-msg' | translate}}"
                                    class="p-button-raised"></button>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
</div>
