<div class="login-panel">
    <div class="p-grid p-nogutter p-justify-center p-align-center p-jc-center" style="height:100%">

        <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
            <p-panel header="{{'forgot-password-msg' | translate}}">
                <div class="p-grid p-justify-center p-align-center p-jc-center">
                    <form [formGroup]="forgotForm" (submit)="update()">
                        <div class="p-col-12">
                            <p-messages [(value)]="msgs"></p-messages>
                        </div>
                        <div class="p-col-12">
                            <app-password [control]="f.newPassword" [feedback]="true" toggleMask="true"
                                          [label]="'password' | translate" [submitted]="submitted"></app-password>
                        </div>
                        <div class="p-col-12">
                            <app-password [control]="f.confirmPassword" toggleMask="true"
                                          [label]="'confirm-password' | translate"
                                          [submitted]="submitted"></app-password>
                        </div>
                        <div class="p-col-12 right">
                            <button pButton [disabled]="loading" label="{{ 'change-password-msg' | translate}}"
                                    class="ui-button-raised"></button>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
</div>
