<p-inputgroup>
  @if (icon) {
    <p-inputgroup-addon><i class='fa' [class]="icon"></i></p-inputgroup-addon>
  }
  <p-password [formControl]="control" [toggleMask]="toggleMask" [feedback]="feedback"
    [inputStyleClass]="inputStyle"
    [placeholder]="label | translate" [attr.aria-describedby]="'v'+uniqueId">

    @if (feedback && control.errors) {
      <ng-template pTemplate="header">
        <h6>Pick a password</h6>
      </ng-template>
    }
    @if (feedback && (control.errors || control.pristine)) {
      <ng-template pTemplate="footer">
        @if (control.errors || control.pristine) {
          <p-divider></p-divider>
        }
        @if (control.errors || control.pristine) {
          <p class="p-mt-2">Suggestions</p>
        }
        @if (control.errors || control.pristine) {
          <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
            @if (control.hasError('hasNumber') || control.pristine) {
              <li>{{ 'password-has-number-msg' | translate}}</li>
            }
            @if (control.hasError('hasCapitalCase') || control.pristine) {
              <li>{{ 'password-has-capitalcase-msg' | translate}}</li>
            }
            @if (control.hasError('minlength') || control.pristine) {
              <li>{{ 'minlength-msg' | translate: {min: control.errors.minlength?.requiredLength} }}</li>
            }
            @if (control.hasError('maxlength') || control.pristine) {
              <li>{{ 'maxlength-msg' | translate: {max: control.errors.maxlength?.requiredLength} }}</li>
            }
          </ul>
        }
      </ng-template>
    }
  </p-password>
</p-inputgroup>
@if (submitted && control.errors) {
  <small [id]="'v'+uniqueId" class="p-error">
    @if (control.errors.required || control.pristine) {
      <div>{{ 'password-required-msg' | translate }}</div>
    }
    @if (control.hasError('noPassswordMatch')) {
      <div>{{ 'password-not-match-msg' | translate}}</div>
    }
  </small>
}
