<div class="p-inputgroup">
    <span class="p-inputgroup-addon" *ngIf="icon"><i class='fa' [class]="icon"></i></span>
    <p-password [formControl]="control" [toggleMask]="toggleMask" [feedback]="feedback"
                [inputStyleClass]="inputStyle"
                [placeholder]="label | translate" [attr.aria-describedby]="'v'+uniqueId">

        <ng-template pTemplate="header" *ngIf="feedback && control.errors">
            <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="feedback && (control.errors || control.pristine)">
            <p-divider *ngIf="control.errors || control.pristine"></p-divider>
            <p class="p-mt-2" *ngIf="control.errors || control.pristine">Suggestions</p>
            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5" *ngIf="control.errors || control.pristine">
                <li *ngIf="control.hasError('hasNumber') || control.pristine">{{ 'password-has-number-msg' | translate}}</li>
                <li *ngIf="control.hasError('hasCapitalCase') || control.pristine">{{ 'password-has-capitalcase-msg' | translate}}</li>
                <li *ngIf="control.hasError('minlength') || control.pristine">{{ 'minlength-msg' | translate: {min: control.errors.minlength?.requiredLength} }}</li>
                <li *ngIf="control.hasError('maxlength') || control.pristine">{{ 'maxlength-msg' | translate: {max: control.errors.maxlength?.requiredLength} }}</li>
            </ul>
        </ng-template>
    </p-password>
</div>
<small [id]="'v'+uniqueId" class="p-error" *ngIf="submitted && control.errors">
    <div *ngIf="control.errors.required || control.pristine">{{ 'password-required-msg' | translate }}</div>
    <div *ngIf="control.hasError('noPassswordMatch')">{{ 'password-not-match-msg' | translate}}</div>
</small>
