<p-panel header="Change password">

    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    
        <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
            <form [formGroup]="passwordForm" (submit)="update()">
                <div class="p-col-12">
                    <p-messages [(value)]="msgs"></p-messages>
                </div>
                <div class="p-grid p-justify-center p-align-center">

                    <div *ngIf="submitted && f.password.errors" class="p-col-12 invalid-feedback">
                        <div *ngIf="f.password.errors.required">{{ 'password-required-msg' | translate}}</div> 
                    </div> 
                    <div class="p-col-12">
                        <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="fa fa-user-lock"></i></span>
                          <input type="password" formControlName="password" size="30"  pInputText [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                          placeholder="Old password" autocomplete="password"/>           
                        </div>
                      </div>  

                    <div *ngIf="submitted && f.newPassword.errors" class="p-col-12 invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">{{ 'password-required-msg' | translate}}</div>
                        <div *ngIf="f.newPassword.hasError('hasNumber')">{{ 'password-has-number-msg' | translate}}</div>
                        <div *ngIf="f.newPassword.hasError('hasCapitalCase')">{{ 'password-has-capitalcase-msg' | translate}}</div> 
                        <div *ngIf="f.newPassword.hasError('minlength')">{{ 'password-minlength-msg' | translate}}</div> 
                    </div>   
                    <div class="p-col-12">
                        <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" formControlName="newPassword" size="30"  pInputText [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" 
                        placeholder="Password" autocomplete="newPassword"/>           
                        </div>
                    </div>

                    <div *ngIf="submitted && f.confirmPassword.errors" class="p-col-12 invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">{{ 'password-confirm-required-msg' | translate}}</div>
                        <div *ngIf="f.confirmPassword.hasError('NoPassswordMatch')">{{ 'password-not-match-msg' | translate}}</div> 
                    </div> 
                    <div class="p-col-12">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                            <input type="password" formControlName="confirmPassword" size="30"  pInputText [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" 
                            placeholder="Confirm password" autocomplete="confirmPassword"/>           
                        </div>
                        </div>                
                    </div>
                    <div class="p-grid">
                    <div class="p-col-12 right">
                        <button pButton [disabled]="loading"  label="{{ 'change-password-msg' | translate}}" class="ui-button-raised"></button>
                    </div>           
                </div>
            </form>
        </div>
    </div>   

</p-panel>
