<div class="pw-card">
  <div class="pw-card-header">
    <i class="pi pi-lock"></i>
    <span>{{ 'change-password' | translate }}</span>
  </div>
  <div class="pw-card-body">
    <form [formGroup]="passwordForm" (submit)="update()" class="pw-form">

      <app-password [control]="f.password" [feedback]="false"
        [label]="'old-password' | translate" [submitted]="submitted">
      </app-password>

      <app-password [control]="f.newPassword" [feedback]="true" toggleMask="true"
        [label]="'password' | translate" [submitted]="submitted">
      </app-password>

      <app-password [control]="f.confirmPassword" toggleMask="true"
        [label]="'confirm-password' | translate" [submitted]="submitted">
      </app-password>

      <div class="pw-actions">
        <button [disabled]="loading" pButton
          [label]="'change-password-msg' | translate"
          icon="pi pi-save"
          class="p-button-raised w-full">
        </button>
      </div>

    </form>
  </div>
</div>

