<p-panel [header]="'change-password' | translate">
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
        <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
            <form [formGroup]="passwordForm" (submit)="update()">
                <div class="p-col-12">
                    <p-messages [(value)]="msgs"></p-messages>
                </div>
                <div class="p-grid p-justify-center p-align-center">
                    <div class="p-col-12">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="fa fa-user-lock"></i></span>
                          <input type="password" formControlName="password" size="30"  pInputText [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.password.errors }"
                          [placeholder]="'old-password' | translate"  autocomplete="password" aria-describedby="password-help" />
                        </div>
                    </div>
                    <small id="password-help" class="p-error" *ngIf="submitted && f.password.errors">
                      <div *ngIf="f.password.errors.required">{{ 'password-required-msg' | translate}}</div>
                    </small>

                    <div class="p-col-12">
                        <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="fa fa-lock"></i></span>
                          <input type="password" formControlName="newPassword" size="30"  pInputText [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.newPassword.errors }"
                          [placeholder]="'password' | translate" autocomplete="newPassword" aria-describedby="new-password-help" />
                        </div>
                    </div>
                    <small id="new-password-help" class="p-error" *ngIf="submitted && f.newPassword.errors">
                      <div *ngIf="f.newPassword.errors.required">{{ 'password-required-msg' | translate}}</div>
                      <div *ngIf="f.newPassword.hasError('hasNumber')">{{ 'password-has-number-msg' | translate}}</div>
                      <div *ngIf="f.newPassword.hasError('hasCapitalCase')">{{ 'password-has-capitalcase-msg' | translate}}</div>
                      <div *ngIf="f.newPassword.hasError('minlength')">{{ 'password-minlength-msg' | translate}}</div>
                    </small>

                    <div class="p-col-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="fa fa-check"></i></span>
                            <input type="password" formControlName="confirmPassword" size="30"  pInputText [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.confirmPassword.errors }"
                            [placeholder]="'confirm-password' | translate" autocomplete="confirmPassword" aria-describedby="confirm-password-help"/>
                        </div>
                    </div>
                    <small id="confirm-password-help" class="p-error" *ngIf="submitted && f.confirmPassword.errors">
                      <div *ngIf="f.confirmPassword.errors.required">{{ 'password-confirm-required-msg' | translate}}</div>
                      <div *ngIf="f.confirmPassword.hasError('NoPassswordMatch')">{{ 'password-not-match-msg' | translate}}</div>
                    </small>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 right">
                        <button pButton [disabled]="loading"  label="{{ 'change-password-msg' | translate}}" class="ui-button-raised"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-panel>
