<div class="sidebar" [class.docked]="isMenuDocked" [ngClass]="{'menu-content-hidden': isMenuOpened}">
  <ul class="np-menu">
    <ng-template #recursiveList let-list>
      @for (menu of list; track menu) {
        <li>
          <a (click)="onMenuClick(menu)" [ngClass]="{'active': selectedItem === menu.label}">
            @if (isMenuDocked && menu.childs && menu.childs.length > 0) {
              <span class="fa-stack">
                <i class="fa fa-fw fa-inverse" [ngClass]="menu.icon" [title]="menu.label | translate"></i>
                <i class="fa fa-fw fa-square fa-stack-2x icon-group"></i>
              </span>
            }
            @if (!menu.childs || !isMenuDocked) {
              <i class="fa fa-fw" [ngClass]="menu.icon" [title]="menu.label | translate"></i>
            }
            @if (isTitleShowed) {
              <span>{{ menu.label | translate }}</span>
            }
            @if (!isMenuDocked && menu.childs) {
              <i class="fa right"
              [ngClass]="{'fa-angle-down': !menu.isChildVisible,'fa-angle-up': menu.isChildVisible }"></i>
            }
          </a>
          @if (menu.childs && menu.childs.length > 0 && menu.isChildVisible) {
            <ul class="np-sub-menu" [ngClass]="{'margin-left': !isMenuDocked}">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menu.childs }">
              </ng-container>
            </ul>
          }
        </li>
      }
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: items }"></ng-container>
  </ul>
</div>



