<div class="login-panel">
  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">

      <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
        <p-panel header="{{ 'login-msg' | translate}}">
          <img src="assets/images/logo-login.jpg" height="100px" alt="login logo"/>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="p-col-12">
              <p-messages [(value)]="msgs"></p-messages>
            </div>
            <div class="p-grid p-justify-center p-align-center">
              <div class="p-col-12">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="fa fa-user"></i></span>
                  <input type="text" formControlName="username" size="30"  pInputText [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.username.errors }"
                  [placeholder]="'login-user-name' | translate" aria-describedby="username-help" autocomplete="username"/>
                </div>
                <small id="username-help" class="p-error" *ngIf="submitted && f.username.errors">
                  <div *ngIf="f.username.errors.required">{{ 'username-required-msg' | translate }}</div>
                </small>
              </div>
              <div class="p-col-12">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="fa fa-key"></i></span>
                  <input type="password" formControlName="password" size="30" pInputText [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.password.errors }"
                  [placeholder]="'login-user-password' | translate" aria-describedby="password-help" autocomplete="current-password" />
                </div>
                <small id="password-help" class="p-error" *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required">{{ 'password-required-msg' | translate }}</div>
                </small>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 right">
                <button pButton [disabled]="loading"  label="{{ 'login' | translate}}" class="ui-button-raised"></button>
              </div>
              <div class="p-col-12 p-text-right">
                <a [routerLink]="['/forgot-password']">{{ 'login-forgot-password' | translate}}</a>
              </div>
            </div>
        </form>
        </p-panel>
      </div>
  </div>
</div>
