<div class="login-panel">
  <div class="grid grid-nogutter align-items-center justify-content-center" style="height:100%">
      <div class="xl:col-3 lg:col-6 md:col-8 sm:col-10">
        <p-panel header="{{ 'login-msg' | translate}}">
          <p class="text-center">Credentials: gardenusr / GardenUser</p>
          <div class="flex flex-column align-items-center">
            <img src="assets/images/logo-login.png" width="100px" alt="login logo"/>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="flex flex-column gap-2">
                  <p-messages [(value)]="msgs"></p-messages>
                  <app-input icon="fa-user" [control]="f.username"  [label]="'login-user-name' | translate"
                             [submitted]="submitted"> </app-input>
                  <app-password icon="fa-key" [control]="f.password" toggleMask="true" [label]="'login-user-password' | translate"  [submitted]="submitted"> </app-password>
              </div>
              <div class="flex flex-column align-items-start mt-2">
                  <button pButton [disabled]="loading"  label="{{ 'login' | translate}}" class="p-button-raised"></button>
              </div>
              <div class="flex flex-column align-items-end mt-1">
                  <a [routerLink]="['/forgot-password']">{{ 'login-forgot-password' | translate}}</a>
              </div>
            </form>
          </div>
        </p-panel>
      </div>
  </div>
</div>
