<p-inputgroup>
  @if (icon()) {
    <p-inputgroup-addon><i class="fa" [class]="icon()"></i></p-inputgroup-addon>
  }
  <p-datepicker
    [formControl]="control()"
    [dateFormat]="dateFormat()"
    [showTime]="showTime()"
    [placeholder]="label() | translate"
    [ngClass]="{ 'ng-invalid ng-dirty': submitted() && control().errors }"
    [attr.aria-describedby]="'v' + uniqueId"
    styleClass="w-full"
    appendTo="body">
  </p-datepicker>
</p-inputgroup>
@if (submitted() && control().errors) {
  <small [id]="'v' + uniqueId" class="p-error">
    @if (control().errors?.['required']) {
      <div>{{ 'required' | translate }}</div>
    }
  </small>
}
