html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family), sans-serif;
  color: var(--text-color);
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Balsamiq';
  src: url('./assets/fonts/BalsamiqSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: url('./assets/fonts/OpenDyslexic-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

app-password .p-inputwrapper {
  width: 100%!important;
}

.ng-main {
  background-color: var(--main-background);
  height: calc(100% - 50px);
}

.ng-header, .ng-footer {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--header-footer-bg-color)), to(var(--header-footer-bg-color2)));
  color: var(--header-footer-color);
}

.ng-header-right {
  height: 50px;
}

.ng-header a {
  color: var(--header-footer-color);
}

.ng-header a:hover {
  color: var(--header-footer-color);
}

.ng-header .pi {
  color: #000000;
}

.ng-footer div {
  text-align: center;
  padding: 10px;
}

.ng-content {
  overflow: auto;
  height: calc(100%);
  padding: 10px 10px 10px 13rem;
}
.ng-content-hidden {
  padding: 5px 5px 5px 5px;
}
.ng-content-docked {
  overflow: auto;
  height: calc(100%);
  padding: 10px 10px 10px 4rem;
}
.ng-content-overlay {
  padding: 5px 5px 5px 5px;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
}

.p-component {
  font-family: var(--font-family), sans-serif;
}
.p-button {
  color: var(--primary-color-text);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}


.dashboard-card {

}
.overview-box-1 {
  background-color: #F39611;
}
.overview-box-1:hover {
  color: var(--active-menu-color);
  background-color: coral !important;
  cursor: pointer;
}

.overview-box-2 {
  background-color: #326DDF;
}

.overview-box-3 {
  background-color: #E02364;
}

.overview-box-4 {
  background-color: #7DC931;
}



.icon {
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.prime-button {
  width: 150px !important;
}

.color-red {
  color: red;
}

.header-breadcrumb {
  margin-bottom: 10px;
}

.login-panel, .user-regisration {
  height: 100%;
  background-image: radial-gradient(var(--header-footer-bg-color) 40%, var(--header-footer-bg-color2));
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: red;
  border-radius: 10px;
}

.login-logo {
  height: 100%;
  width: 100%;
}

.toggle-menu-button {
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: var(--menubar-background);
}

.toggle-menu-button .icon {
  padding: 0;
  color: var(--menubar-color) !important;
}

.logo-large {
  display: block;
  height: 50px;
}

.logo-small {
  display: none;
}

.user-name {
  font-size: 15px;
  padding: 5px;
}

.notification-message {
  min-height: 25px;
  width: 200px;
  padding: 5px;
}

.hidden {
  display: none;
}

.np-loader {
  position: fixed;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.np-loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.fa-fw {
  width: 50px;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}



a {
  cursor: pointer;
}


.ui-messages ul{
  display: inline-block !important;
}



/* Extra large devices (large laptops and desktops, 1200px or more) */

@media only screen and (min-width: 1200px) {
  .toggle-menu-button {
    display: none;
  }
}

/* Large devices (laptops/desktops, 1200px or less) */

@media only screen and (max-width: 1200px) {
  .toggle-menu-button {
    display: none;
  }
}

/* Medium devices (landscape tablets, 992px or less) */

@media only screen and (max-width: 992px) {

  .toggle-menu-button {
    display: none;
  }
  .user-name {
    display: none;
  }
}


/* Small devices (portrait tablets and large phones, 768px or less) */

@media only screen and (max-width: 768px) {
  .ui-table-hide-sm {
    display: none !important;
  }
  .toggle-menu-button {
    display: block;
  }
  .logo-large {
    display: none;
  }
  .ng-header-left-item {
    display: none;
  }

}

/* Extra small devices (phones, 600px or less) */

@media only screen and (max-width: 600px) {

}


.error-box {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  color: var(--header-footer-bg-color2)
}

.invalid-feedback {
  color:firebrick;
}





