<div class="ng-header">
    <div class="ng-header-left left">
        <div class="toggle-menu-button left">
            <a class="icon" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
        </div>
        <div class="logo right">
            <img src="assets/images/logo.jpg" class="logo-large" alt="logo">
        </div>
    </div>
    <div class="ng-header-right right">
        <div class="ng-header-right-item right">
            <a class="icon" (click)="logout()"><i class="fa fa-sign-out-alt"></i></a>
        </div>
    </div>
</div>

