<div class="ng-header">
  <div class="ng-header-left left">
    <!--        <div class="logo left">-->
    <!--          <img src="assets/images/logo-small.png" class="logo-small" alt="logo">-->
    <!--        </div>-->
    <div class="toggle-menu-button left">
      <a class="icon" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
    </div>
    <div class="logo right">
      <img src="assets/images/logo-small.png" class="logo-large" alt="logo">
    </div>
  </div>
  <div>
    <div class="ng-header-left-item left">
      <a class="icon" (click)="toggleMenu()"><i [class]="isDocked ? 'fa fa-arrow-alt-circle-right' : 'fa fa-arrow-alt-circle-left'"></i></a>
    </div>
    <div class="ng-header-right-item right">
      <a class="icon" (click)="logout()"><i class="fa fa-sign-out-alt"></i></a>
    </div>
  </div>
</div>
